.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.leftPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftPaneWithMap {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
}

.videoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.popupMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1000;
}

.rangeInput {
  margin-top: 20px;
  width: 50%;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.actionButton, .toggleButton {
  padding: 10px 20px;
}

.toggleButton {
  background-color: green;
  color: white;
}

.radioGroup {
  margin-top: 20px;
  width: 60%;
}

.volumeControl {
  margin-top: 20px;
  width: 60%;
}

.volumeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.volumeInput {
  width: 100%;
  appearance: none;
  -webkit-appearance: none; /* Webkit 기반 브라우저용 */
  height: 6px;
  border-radius: 5px;
}
