.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popupMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  text-align: center;
}
